.footer{
    font-size: 1.5rem;
    color: rgb(151, 151, 151);
    margin: 5rem 20rem;

    &__list{
        display: flex;
        margin: 3rem 0;

        &--item{
            margin-right: 10rem;
            line-height: 2.5;

            li{
                list-style: none;
            }
        }
    }

    &__india{
        font-size: 2rem;
        opacity: .3;
        display: flex;

        img{
            height: 2rem;
            margin-top: .7rem;
            margin-right: 1rem;
        }
    }
    
}
// .line{
//     margin-top: 5rem;
//     height: 6px;
//     background-color: rgb(156, 156, 156);
// }